<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
      rel="alternate" title="{{ site.title }} Feed" type="application/atom+xml">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
<link as="style" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'"
      rel="preload">
<noscript>
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" rel="stylesheet">
</noscript>
<!--customize css-->
<link href="assets/css/jake.css" rel="stylesheet">

{% if site.head_scripts %}
{% for script in site.head_scripts %}
<script src="{{ script | relative_url }}"></script>
{% endfor %}
{% endif %}
