<!-- 카테고리를 카테고리 내 갯수별로 정렬-->
{% assign categories_max = 0 %}
{% for category in site.categories %}
{% if category[1].size > categories_max %}
{% assign categories_max = category[1].size %}
{% endif %}
{% endfor %}

<div class="author__content">
    {% for i in (1..categories_max) reversed %}
    {% for category in site.categories reversed%}
    {% if category[1].size == i %}
    <div style='margin: 5px 5px 5px 0px; display: inline-block'>
          <a href="/categories/#{{category[0] | slugify}}"
             style="color: #aebac7;">{{category[0]}}({{category[1].size}})</a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
</div>
