---
layout: archive
---
{{ content }}

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Home" }}</h3>
-->
<h1 style = margin-top:0;>Recent Posts</h1>
<hr style="border: solid; color:gray;">

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single__category_tag.html type=entries_layout %}
    <hr>
  {% endfor %}

</div>

{% include paginator.html %}
